.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #333944;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;  
}
  
  
